<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 개발서버 관련-->
    <bean id="config" class="com.honbabzone.tomcat.utile.CommonConfigBean">
    <!-- 0 : 운영, 1 : 개발 -->
        <property name="development" value="0" />
        <property name="allowImage" value="gif,jpg,jpeg,png" />
        <property name="allowFile" value="gif,jpg,jpeg,png,zip,hwp,ppt,pptx,xls,xlsx,doc,docx,pdf,svg" />
        <property name="allowFileSize" value="4194304" />
        <!-- 4M 제한 -->
        <property name="memUrl" value="/mem/" />
        <property name="mainUrl" value="/main/" />
        <property name="simsimUrl" value="/board/simsim/" />
        <property name="localSimSimSaveFolder" value="D:/simsim/" />
        <property name="remoteSimSimSaveFolder" value="simsim" />
    </bean> 

</beans>
